doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/styles/style.css')
    script(src='/js/build/vendors.bundle.js')
  body
    h1= message
    h2= error.status
    pre #{error.stack}
