doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/lib/animate.css/animate.css')
    link(rel='stylesheet', href='/styles/style.css')
  body
    .container
      .row
        .col-xs-6
          #quiz.quiz
        .col-xs-6
          #clocks.clocks
          #feed.feed

  script(src='/js/build/common.bundle.js')
  script(src='/js/build/modules.bundle.js')
